
.svg-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo,
.burger {
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.logo-icon--svg,
.burger-icon--svg {
    fill: var(--title-text-color);
    transform: scale(0.7);
}

.logo-icon--svg {
    width: 265px;
    height: 32px;
    transform-origin: left;
}

/* .burger-icon--svg {
    width: 55px;
    height: 32px;
    transform-origin: right;
}

.burger-close {
    width: 60px;
    height: 60px;
} */

.hero-header--text {
    font-size: 14px;
    font-weight: var(--font-normal);
    color: var(--text-color);
    margin-bottom: 16px;
    max-width: 222px;
}

.hero-width {
    max-width: 93px;
}

.hero-header--title {
    font-size: 34px;
    font-weight: var(--font-middle);
    color: var(--text-color);
    margin: 32px 0;
    max-width: 234px;
}

.general {
    margin-bottom: 32px;
}

.hero-header--img {
    width: 100%;
    height: 380px;
    background-image: url('../images/headphone.png');
    background-size: cover;
}

/* Burger menu */

.menu {
    display: none;
    position: fixed;
    top: 9%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191919;
    z-index: 1000;
    overflow-y: auto;
    transition: transform 1.5s ease-in-out;
    transform: translateY(-100%);
    padding: 20px;
    padding-top: 50px;
}

.menu.active {
    display: block;
    transform: translateY(0);
}

.menu-list--children {
    margin-bottom: 24px;
}

.menu-list--children a {
    font-size: 14px;
    font-weight: var(--font-normal);
    color: var(--text-color);
}

.close-icon {
    
}

/* Burger-svg */

body {
    /* background-color: #03A9F4; */
    display: grid;
    place-items: center;
    height: 30rem;

    .hamburger-icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
        position: relative;

        .stroke {
            width: 50px;
            height: 2px;
            background-color: white;
            position: absolute;
            -webkit-transition: all 0.2s ease;
            -moz-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;

            &:first-child {
                top: 0%;
                transform: translateY(0%);

            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
                opacity: 1;
            }

            &:last-child {
                top: 100%;
                transform: translateY(-2.1875rem);
            }

            &.active {
                top: 50%;

                &:first-child {
                    transform: translateY(-50%) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:last-child {
                    transform: translateY(-50%) rotate(135deg);
                }
            }
        }
    }
}



