
.svg-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo,
.burger {
    display: flex;
    align-items: center;
    padding: 30px 0;
    z-index: 1001;
}

.logo-icon--svg,
.burger-icon--svg {
    fill: var(--title-text-color);
    transform: scale(0.7);
}

.logo-icon--svg {
    width: 265px;
    height: 32px;
    transform-origin: left;
}

.burger-icon--svg {
    width: 55px;
    height: 32px;
    transform-origin: right;
}

.burger-close {
    width: 60px;
    height: 60px;
}

.hero-header--text {
    font-size: 14px;
    font-weight: var(--font-normal);
    color: var(--text-color);
    margin-bottom: 16px;
    max-width: 250px;
}

.hero-width {
    max-width: 120px;
}

.hero-header--title {
    font-size: 34px;
    font-weight: var(--font-middle);
    color: var(--text-color);
    margin: 32px 0;
    max-width: 250px;
}

.general {
    margin-bottom: 32px;
}

.hero-header--img {
    width: 100%;
    height: 380px;
    background-image: url('../images/headphone.png');
    background-size: cover;
}

/* Burger menu */

.burger {
    display: block;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger.active .bar:nth-child(2) {
    opacity: 0;
}

.burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191919;
    z-index: 1000;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 2.0s ease-in-out;
    padding: 20px;
    padding-top: 150px;
}

.menu.active {
    display: block;
    transform: translateY(0%);
}

.menu-list--children {
    margin-bottom: 24px;
}

.menu-list--children a {
    font-size: 20px;
    font-weight: var(--font-normal);
    color: var(--text-color);
}