

.luxury-img {
    width: 100%;
    height: 380px;
    background-image: url('../images/headphones\ sunset.png');
    background-size: cover;
    margin-bottom: 32px;
}

.luxury-block {
    margin-bottom: 42px;
}

/* Media */

@media screen and (max-width: 480px) {
    .luxury-container {
        width: 479px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
    .luxury-container {
        width: 830px;
    }

    .luxury-title {
        text-align: right;
        margin-right: 60px;
    }

    .luxury-img {
        display: none;
    }

    .luxury-two--img {
        width: 100%;
        height: 293px;
        background-image: url('../images/sunset-tablet.png');
        background-size: cover;
        background-position: center center;
        margin-bottom: 32px;
    }

    .luxury-article {
        display: flex;
        justify-content: space-between;
    }

    .luxury-block {
        margin-bottom: 0;
    }

    .general-text {
        max-width: 300px;
    }
}